/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #d6eaff, #ffffff);
    color: #333;
}

header {
    text-align: center;
    padding: 1.5em 0;
    background-color: #0056b3; /* Deep Blue */
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

/* Section Styles */
section {
    padding: 1em 2em;
    margin: 1em auto;
    max-width: 900px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    color: #0056b3; /* Deep Blue */
    border-bottom: 2px solid #0056b3;
    padding-bottom: 0.2em;
}

.description-content {
    display: flex;
    align-items: center;
}

.description-content img {
    max-width: 150px;
    margin-right: 1em;
    border-radius: 50%;
}

.description-content p {
    min-width: 0; /* Fix flexbox behavior causing overflow */
}

.social-links a {
    font-size: 1.5em;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.social-links a:hover {
    color: #003f7f; /* Darker Blue */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

blockquote {
    font-style: italic;
    color: #666;
    border-left: 5px solid #0056b3;
    padding-left: 1em;
    margin: 1em 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #003f7f; /* Dark Blue */
    color: white;
}

.email-container {
    margin: 1em 0;
    text-align: center; /* Center the email link */
}

.email-link {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5em; /* Spacing between the icon and text */
}

.email-link i {
    font-size: 1.5em; /* Slightly larger icon */
    color: white; /* Icon matches text color */
}

.email-link:hover {
    color: #003f7f;
}

.email-link:hover i {
    color: #003f7f;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 1000;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #575757;
    color: white;
}
body {
    margin: 0;
    /*padding-top: 50px; /* Ensure content doesn't overlap with navbar */
}
section {
    padding: 50px 20px;
}

button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

button:hover {
    background-color: #0056b3;
}